#------------------------------------------------------------------
# core
#------------------------------------------------------------------

TZ=UTC

# Discord Bot Token（Developer Portal で取得）
DISCORD_TOKEN=

# ログレベル
#RUST_LOG=debug
RUST_LOG=info

#------------------------------------------------------------------
# Database
#------------------------------------------------------------------

# データベース接続URL
# 形式: postgres://user:password@host:port/dbname
DATABASE_URL=postgres://app_user:change_this_password@db:5432/bot_db

# アドミンロール（マイグレーション実行用）
ADMIN_DATABASE_URL=postgres://admin_user:change_this_admin_password@db:5432/bot_db
